<div *ngIf="!editAdminStatus" style="height: 100%;" class="edit  d-flex flex-column align-items-center justify-content-center w-100">

    <div>
        <img width="200px" height="200px" class="img-fluid rounded" 
        [src]="profilePicture" alt="profile">

    </div>
    <button (click)="editAdminBtn()" class="btn btn-link"><i class="fa-solid fa-user-pen"></i> Edit Admin Details</button>

</div>
<div *ngIf="editAdminStatus" style="height: 100%;" class="admin-detail edit  d-flex flex-column align-items-center justify-content-center w-100">
    <h5>Update Admin deatils !!</h5>
    <label>
        <input (change)="getFile($event)" type="file" style="display: none;">

        <img width="150px" height="150px" class="img-fluid rounded" 
        [src]="profilePicture" alt="profile">
    </label>
    <input  type="text" placeholder="Admin Name" class="form-control mt-2">
    <input  type="text" placeholder="Admin password" class="form-control mt-2">
    <div class="d-flex justify-content-evenly mt-3 w-100">
        <button (click)="onCancel()" class="btn btn-warning">Cancel</button>
        <button (click)="editAdmin()" class="btn btn-success">Update</button>

    </div>

</div>
