<div class="container-fluid">
    <div class="row w-100">
        <div *ngIf="sideBarStatus" style="height:90vh;width:fit-content;" class="side-bar col-lg-2 bg-dark d-flex flex-column ">
            <a style="text-decoration: none; color: white;" class="fw-bolder mb-3  my-3"
                routerLink="/dashboard">HOME</a>
            <a style="text-decoration: none; color: white;" class="fw-bolder " routerLink="/users">USERS</a>
            <button (click)="logout()" style="text-decoration: none; color: white;" class="btn mt-auto text-ligth fw-bolder">Logout
                <i class="fa-solid fa-right-from-bracket fa-fade ms-1"></i> </button>

        </div>
        <div style="min-width: 90%;" class="col">
            <div class="row p-2">
                <div class="col-lg-8">
                    <div style="height: 180px; background-image: url(https://images.pexels.com/photos/459277/pexels-photo-459277.jpeg?auto=compress&cs=tinysrgb&w=600);" 
                    class="banner rounded p-5 d-flex align-item-center shadow ">
                        <h1 class="fw-bolder "><li (click)="menuBtnClicked()" style="cursor: pointer;" 
                            class="fa-solid fa-bars me-3"></li>Welcome {{adminName}}</h1>
                    </div>
                    <div class="row mt-3 ms-3">
                        <div class="col-lg-5 border rounded shadow">
                            <!-- calender -->
                            <app-calender></app-calender>
                        </div>
                        <div class="col-lg-1"></div>
                        <div class="col-lg-6 border rounded shadow">
                            <!--  chart-->
                            <app-chart></app-chart>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div style="height: 400px;" class="border rounded p-2 shadow edit-admin">
                        <app-update-admin (onAdminChange)="onAdminChange($event)"></app-update-admin>
                    </div>
                    <div style="height: 150px; background-image: url(https://images.pexels.com/photos/459277/pexels-photo-459277.jpeg?auto=compress&cs=tinysrgb&w=600);" 
                    class=" rounded p-5 d-flex align-item-center justify-center shadow mt-3">
                        <h3 class="fw-bolder "> <i class="fa-solid fa-users"></i> Employees:{{userCount}} </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>